@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "sharp-sans-medium", "fallback-font", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.llo{
  padding: 0px;
}
.fast-member {
  display: flex;
  align-items: center;
}

.docter_information {
  display: flex;
}

.pl-15 {
  padding-left: 15px;
}

.font-sm {
  font-size: 20px;
}

.top-navbar {
  padding: 10px 0;
  max-width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.right-actions {
  display: flex;
  justify-content: space-between;
}

.psych-therapist {
  margin: 0 30px;
}

.left-logo a img {
  width: 180px;
}

.dp-img {
  width: 115px;
  height: 115px;
}

.dp-img img {
  width: 115px;
  height: 115px;
  object-fit: cover;
}

.driving-content {
  display: flex;
  justify-content: space-between;
}

/* Pateint Modal All CSS */
.patient-modal .modal-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.0044em;
  padding-bottom: 20px;
  color: #000000;
}

.patient-modal {
  /* position: relative; */
}

.patient-modal .down-form .form-group {
  text-align: start;
}

.patient-modal .down-form {
  margin-top: 37px;
}

.patient-modal .main-rrrr {
  position: relative;
}

.asasas {
  position: absolute;
  right: 10px;
  top: 32px;
}

.patient-modal .down-form input {
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #3192BF;
  border-radius: 4px;
  padding: 7px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #000000;
}

.patient-modal .down-form input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #B9B9B9;
}

.patient-modal .modal-footerrr {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 14px;
  margin-top: 10px;
}

.patient-modal .button-modal-patient {
  background: #2A68BB;
  border-radius: 4px;
  width: 77px;
  height: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #FFFFFF;
  border: none;
}

.patient-modal .modal-body {
  padding: 0px;
}

.patient-modal .down-form .mailing-radio-btn .form-check-inline {
  margin-right: 0px;
}

.patient-modal .mailing-radio-btn p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #000000;
}

.patient-modal .down-form .emergency-radio .form-check-inline {
  margin-right: 0px;
}

.patient-modal .down-form .mailing-radio-btn label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #000000;
}

.patient-modal .down-form .emergency-choices label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #000000;
}

.patient-modal .down-form .emergency-radio p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #000000;
}

.patient-modal .down-form .emergency-radio label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #000000;
}

.patient-modal .heading-top {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.0044em;
  padding-top: 10px;
  color: #000000;
}

.patient-modal .mailing-radio-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.patient-modal .down-form select {
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #3192BF;
  border-radius: 4px;
  padding: 7px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #000000;
}

.patient-modal .down-form select::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #B9B9B9;
}

.patient-modal .down-form label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
  color: #747474;
}

.patient-modal .modal-dialog {
  /* background: #FFFFFF; */
  /* border: 1px solid #E7E7E7; */
  border-radius: 8px;
  max-width: 935px;
}
.modal-appionment .modal-header .close {
  font-size: 1.3rem;
  font-weight: 300;
  position: absolute;
  right: 20px;
  top: 16px;
  color: #fff;
  opacity: 1;
  height: 26px;
  width: 26px;
  padding: 7px;
  padding-top: 1px;
  padding-left: 6.5px;
  margin: 0px;
  background: #2A68BB;
  border-radius: 4px;
}
.modal.viewidcardmodal  {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
}
.patient-modal .modal-header .close {
  font-size: 1.3rem;
  font-weight: 300;
  position: absolute;
  right: 20px;
  top: 41px;
  color: #fff;
  opacity: 1;
  height: 26px;
  width: 26px;
  padding: 7px;
  padding-top: 1px;
  padding-left: 6.5px;
  margin: 0px;
  background: #2A68BB;
  border-radius: 4px;
}
.insurance-modal .modal-header .close {
  font-size: 1.3rem;
  font-weight: 300;
  position: absolute;
  right: 20px;
  top: 37px;
  color: #fff;
  opacity: 1;
  height: 26px;
  width: 26px;
  padding: 7px;
  padding-top: 1px;
  padding-left: 6.5px;
  margin: 0px;
  background: #2A68BB;
  border-radius: 4px;
}
.patient-modal .modal-header {
  border-bottom: none;
  padding: 0px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
}

.patient-modal .modal-content {
  padding: 20px;
}

.patient-modal .upload-profile {
  width: 30px;
  height: 30px;
  background-color: #2A68BB;
  border-radius: 50%;
  border: 1.5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 32px;
  right: -2px;
  cursor: pointer;
}

.patient-modal .upload-profile input {
  opacity: 0;
  position: absolute;
  width: 30px;
  border-radius: 50px;
  height: 30px;
}

.patient-modal svg:not(:root) {
  overflow: hidden;
}

.patient-modal .upload-profile svg {
  fill: #fff;
  width: 18px;
  height: 18px;
}

.patient-modal .capture-dp {
  width: 30px;
  height: 30px;
  background-color: #2A68BB;
  border-radius: 50%;
  border: 1.5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -2px;
  right: 34px;
  cursor: pointer;
}

.patient-modal svg:not(:root) {
  overflow: hidden;
}

.patient-modal .capture-dp svg {
  fill: #fff;
}

.patient-modal .patient-profile img {
  /* border: 3px solid #3192BF;
  border-radius: 50%; */
  /* max-width: 220px; */
  width: 100%;
}

.patient-modal .patient-profile {
  border: 1px solid #2A68BB;
  border-radius: 50%;
  max-width: 201px;
  height: 201px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

/* Patient Modal All Css End */



/* Patient Info Modal Starts Here */
.patient-modal-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.patient-modal-content::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.patient-modal-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(122, 153, 217)),
      color-stop(0.72, rgb(49 146 191)),
      color-stop(0.86, rgb(44 62 80)));
}

.upload-profile input {
  opacity: 0;
  position: absolute;
  width: 30px;
  border-radius: 50px;
  height: 30px;
}

.form-group {
  margin-bottom: 8px !important;
}

label {
  margin-bottom: 5px !important;
}

.close-btn {
  color: #3192BF;
  opacity: 1;
  font-size: 1.5rem;
  border: 0;
  background-color: unset;
  cursor: pointer;
}

.close-btn:focus {
  outline: 0;
}

.patient-profile img {
  /* border: 3px solid #3192BF;
  border-radius: 50%;
  max-width: 220px; */
}

.patient-profile {
  text-align: center;
  position: relative;
}

.capture-dp {
  width: 30px;
  height: 30px;
  background-color: #3192BF;
  border-radius: 50%;
  border: 2px solid #949ead;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 35px;
  right: 18px;
  cursor: pointer;
}

.capture-dp svg {
  fill: #fff;
}

.capture-dp:hover,
.upload-profile:hover {
  background-color: #000000a8;
}

.capture-dp:hover svg,
.upload-profile:hover svg {
  fill: #3192BF;
}

.upload-profile {
  width: 30px;
  height: 30px;
  background-color: #3192BF;
  border-radius: 50%;
  border: 2px solid #949ead;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2px;
  right: 56px;
  cursor: pointer;
}

.upload-profile svg {
  fill: #fff;
  width: 18px;
  height: 18px;
}

.mailing-address,
.patient-guardian {
  display: none;
}

.mailing-radio-btn {
  padding-left: 15px;
}

.emergency-radio {
  display: none;
}

.back-btn {
  background-color: unset !important;
  color: #007bff !important;
}

/* Patient Info Modal Ends Here */

/* Insurance Information Modal Starts Here */
.driving-front {
  max-width: 340px;
  max-height: 220px;
  border: 2px solid #3192BF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: relative;
}

.driving-capture {
  width: 30px;
  height: 30px;
  background-color: #3192BF;
  border-radius: 50%;
  border: 2px solid #949ead;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -16px;
  right: 14px;
  cursor: pointer;
}

.driving-upload {
  width: 30px;
  height: 30px;
  background-color: #3192BF;
  border-radius: 50%;
  border: 2px solid #949ead;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -16px;
  right: 55px;
  cursor: pointer;
}

.pinsurance-fileds,
.secondary-insurance,
.sinsurance-fileds,
.tertiary-insurance,
.tinsurance-fileds {
  display: none;
}

.lf_ri.mb-1 i {
  color: #3192BF;
}

/* Insurance Information Modal Ends Here */

.row {
  margin-right: -0px !important;
  margin-left: -0px !important;
}

.patient-page,
.patient-page:hover {
  text-decoration: none;
  color: unset;
}

.sitecolor {
  background-color: #00234b;
  color: #fff;
}

/*header*/
.bakhig {
  background-color: #d6e5f3 !important;
  height: 540px;
}

.dropdown_menus li {
  display: flex;
  align-items: center;
  list-style: none;
}

.dropdown_menus a {
  text-decoration: underline;
}

.dropdown_menus ul {
  padding-left: 20px;
}

.dropdown_menus {
  font-size: 15px;
  font-weight: 100;
  text-decoration: underline;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 100;
  text-decoration: underline;
}

.login-signup-line.ml-3 {
  margin-left: 20px !important;
}

.after_line {
  position: relative;
}

.after_line:after {
  content: "";
  width: 2px;
  height: 69%;
  background: #ffffffcf;
  position: absolute;
  right: -1px;
}

/*animation hadding css*/
body {
  width: 100%;
  height: 100%;
}

.content {
  height: 160px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 70px;
  line-height: 80px;
  color: #333333;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 80px;
}

/*.content__container:before {
  content: "[";
  left: 0;
}
.content__container:after {
  content: "]";
  position: absolute;
  right: 0;
}*/
.content__container:after,
.content__container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding-left: 340px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list__item {
  line-height: 80px;
  margin: 0;
  text-decoration: underline;
}

p.sec_hadind_line {
  font-weight: 600;
}

option {
  color: #000;
}

optgroup {
  color: #000000b8;
  font-weight: 300;
}

@-webkit-keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {

  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@keyframes opacity {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes change {

  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }

  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }

  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

#span_small {
  border-radius: 0px;
  height: 70px;
  padding-left: 48px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

/*appiment search bar in banner*/
#search {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 50px;
  border: 1px solid #ddd;
  position: relative;
}

.animated_hading.mt-5.mb-2 {
  margin-top: 70px !important;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
}

ul#myUL {
  display: none;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

div#collapseExample {
  position: absolute;
}

.Choose-carrier {
  width: 50%;
  text-align: center;
  float: left;
  color: #fff;
}

.Choose-plan {
  width: 50%;
  text-align: center;
  float: right;
  ;
}

.insurace_types .btn.btn-link {
  padding: 6px 60px;
  border-radius: 0px;
  color: #000;
}

.insurace_types .btn.btn-link:focus {
  color: #fff;
  background-color: #2a67bc;
}

button.btn.btn-link {
  text-decoration: none;
  color: #000;
}

.choose_carrier_list .btn.btn-link {
  padding: 0px;
  margin: 3px 0px;
  font-size: 15px;
}

.months {
  position: relative;
  margin-top: 50px;
}

.insurace_types {
  border: 1px solid;
  position: absolute;
}

.choose_carrier_list {
  height: 340px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding: 10px 0px;
}

.bdbt {
  border-bottom: 1px solid #0006;
  margin-bottom: 12px;
}

.hdlight {
  color: #00000080;
  padding: 0px 15px;
}

.pdbgc:hover button.btn-link {
  color: #fff;
}

.pdbgc:hover {
  background-color: #2a67bc;
}

.dropdown-menu.postion_class {
  position: absolute;
  transform: translate3d(-75px, 24px, 0px) !important;
  top: 0px;
  left: 0px;
  will-change: transform;
}

.s002 form .bookapoiment-form {
  position: relative;
  border-right: 1px solid #ddd;
  min-width: 128px;
  max-width: 300px;
}

#span_varysmall {
  border-radius: 0px;
  height: 40px;
  padding-left: 48px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-radius: 5px 0px 0px 5px;
}

div#header987 {
  border-bottom: 1px solid #0000002e;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

input#serchbo {
  height: 40px;
}

button.btn-search.lastbtn {
  height: 40px !important;
  width: 60% !important;
}

.lastbtn .fa-solid.fa-magnifying-glass {
  font-size: 20px;
}

a.navbar-brand.pdscl {
  padding: 2px 27px;
}

.form-control {
  color: #9a9a9a !important;
}

.appiment_menus {
  padding: 20px 15px 10px 15px;
  font-size: 17px;
}

.buttons_group_menu {
  padding: 0px 25px;
}

.providers_times {
  margin: 0px 0px 0px 0px;
  border-bottom: 1px solid #d1d1d1;
}

.fweight {
  font-weight: 400;
}

.stikeyhd {
  position: sticky;
  top: 81px;
  z-index: 1;
  margin-bottom: -6px;
  background-color: #fff;
}

.appiment_menus a {
  color: #000000c4;
  font-weight: 500;
}

.buttons_group_menu button.btn.btn-outline-dark {
  border-radius: 25px;
}

.newbox {
  font-size: 11px;
  padding: 0px 6px;
  height: 17px;
  background-color: #2a67bc;
  color: #fff;
  display: flex;
  border-radius: 3px;
  width: 35px;
}

.spnsored {
  font-size: 11px;
  padding: 0px 6px;
  height: 17px;
  background-color: #2a67bc;
  color: #fff;
  display: flex;
  border-radius: 3px;
  width: 75px;
}

.docter_name_sn .editer .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  padding: 12px;
  width: 300px;
  left: 25px;
  text-align: left;
}

.editer {
  margin-left: 4px;
  position: relative;
}

.appiment_menus .editer .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  padding: 12px;
  width: 300px;
  z-index: 11111111111111;
  text-align: left;
}

.riveru_like .editer .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  padding: 5px;
}

.editer .tooltiptext::after {
  content: "";
  position: absolute;
  top: 2%;
  left: -2%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  transform: rotate(90deg);
}

.appoint-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editer:hover .tooltiptext {
  visibility: visible;
}

.revieu {
  color: #2a67bc;
  margin-right: 14px;
}

/* Insurance Modal Css */
.insurance-modal .modal-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.0044em;
  /* padding-bottom: 20px; */
  color: #000000;
}

.insurance-modal .modal-dialog {
  border-radius: 8px;
  max-width: 550px;
}

.insurance-modal .drivinglic h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-top: 12px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 0.0044em;
  color: #000000;
}

.insurance-modal .FBimage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insurance-modal .FBimage .front {
  position: relative;
  width: 230px;
  height: 148px;
  border: 1px solid #2A68BB;
  border-radius: 8px;
}

.insurance-modal .FBimage .camera {
  position: absolute;
  bottom: -12px;
  left: 7px;
  cursor: pointer;
}

.insurance-modal .FBimage .uploadfile {
  position: absolute;
  bottom: -17px;
  left: 40px;
  cursor: pointer;
}

.insurance-modal .FBimage .uploadfile label {
  cursor: pointer;
}

.insurance-modal .FBimage .openimage {
  position: absolute;
  bottom: -12px;
  left: 72px;
  cursor: pointer;
}

.insurance-modal .FBimage .back {
  position: relative;
  width: 230px;
  height: 148px;
  border: 1px solid #2A68BB;
  border-radius: 8px;
}

.insurance-modal .FBimage .back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.insurance-modal .FBimage .front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.insurance-modal .cashpaye {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 8px;
}

.insurance-modal .down-form .primary-up {
  margin-top: 20px;
}

.insurance-modal .down-form label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #747474;
  margin-bottom: 5px;
}

.insurance-modal .down-form input {
  border: 1px solid #DCE2E4;
  border-radius: 4px;
  height: 38px;
  padding: 7px 11px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  background: #F8F8F8;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #000000;
}
.insurance-modal .mailing-radio-btn{
padding-left: 0px!important;
}
.insurance-modal .down-form input::placeholder {
  color: #000000;
}

.insurance-modal .modal-footerrr {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 14px;
  margin-top: 10px;
}

.insurance-modal .button-modal-patient {
  background: #2A68BB;
  border-radius: 4px;
  width: 77px;
  height: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #FFFFFF;
  border: none;
}

.insurance-modal .prrimarryinsu h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.0044em;
  color: #000000;
  /* padding-bottom: 10px; */
  margin-bottom: 15px;
}

.insurance-modal .insurance-body .headsave h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #000000;
  padding-top: 10px;
  text-align: center;
}

.insurance-modal .insurance-body .headsave h5 span {
  color: #B9B9B9;
  padding-right: 12px;
}

.insurance-modal .modal-header .bottonhistory {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  position: absolute;
  right: 20px;
  top: 38px;
  color: #fff;
  opacity: 1;
  transition: 1s ease-in-out;
  height: 32px;
  width: 60px;
  padding: 7px;
  border: none;
  border: 1px solid #2A68BB;
  margin: 0px;
  background: #2A68BB;
  border-radius: 4px;
}

.insurance-modal .down-form .mailing-radio-btn p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #000000;
}

.insurance-modal .pleaseprovide h6 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #000000;
  padding-bottom: 6px;
}

.insurance-modal .down-form .mailing-radio-btn .form-check-inline {
  margin-right: 0px;
}

.insurance-modal .mailing-radio-btn .form-check-inline {
  margin-right: 0px;
}
.insurance-modal .oll{
  padding-right: 0px;
}
.insurance-modal .llo{
  padding-left: 0px;
}
.insurance-modal .mailing-radio-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insurance-modal .down-form .mailing-radio-btn label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0044em;
  color: #000000;
}

.insurance-modal .modal-header .bottonhistory:hover {
  background-color: transparent;
  border: 1px solid #2A68BB;
  color: #2A68BB;
}

.insurance-modal .modal-header {
  border-bottom: none;
  padding: 0px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
}

.insurance-modal .modal-content {
  padding: 20px;
}

.insurance-modal .modal-body {
  padding: 0px;
}

/* Insurrance Modal Css End Here */

/* View Zoom Image Modal Start */
.viewidcardmodal .modal-content {
  padding: 0px;
}

.viewidcardmodal .close {
  font-size: 1.3rem;
  font-weight: 300;
  position: absolute;
  right: -25px;
  top: -27px;
  color: #fff;
  opacity: 1;
  height: 26px;
  width: 26px;
  padding: 7px;
  padding-top: 1px;
  padding-left: 6.5px;
  margin: 0px;
  background: #2A68BB;
  border-radius: 4px;
}

.viewidcardmodal .modal {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
}

/* View Zoom Image Modal End */

.like i {
  color: #ff6473;
  margin-right: 3px;
}

.like {
  background-color: #ff64733d;
  padding: 0px 5px;
}

.total_reviw {
  margin-right: 13px;
}

/*.docter_appi_list {
    height: 664px;
    overflow-y: scroll;
    padding: 10px 0px;
}*/
.docter_info_vi .row {
  margin-right: 0px !important;
}

.docter_network.d-flex.mt-3,
a {
  color: #2a67bc;
}

/*clender*/
div#calendar H4 {
  display: none;
}

.time-picker {
  margin: 0 -5px;
}

.time-picker-header {
  position: relative;
}

.date-slot {
  list-style: none;
  padding: 0;
}

/*.date-slot-wrapper {
    width: 102px;
    text-align: center;
    float: left;
}*/
.docter_info_vi .col-7 {
  padding: 0px 10px;
}

.list-unstyled li {
  padding-bottom: 8px;
}

.col-lg.col-md-6.mb-4.mb-md-0 {
  text-align: initial;
}

.date-slot-item {
  margin: 0 20px 0px;
  padding: 0px;
  border: 1px solid transparent;
  text-align: center;
}

.date-slot-item.active {
  border: 1px solid #0279b3;
}

.date-slot-item.no-free-slot>* {
  color: #666;
}

.date-slot-day,
.date-slot-date {
  display: block;
}

.date-slot-day {
  font-size: 16px;
  line-height: 24px;
  color: #666;
}

.date-slot-date {
  font-size: 16px;
  line-height: 25px;
  color: #000;
  font-weight: 500;
}

.arrow {
  position: absolute;
  top: 5px;
  height: 40px;
  width: 30px;
  background: #FFF;
  border-radius: 50%;
  border: none;
  -webkit-appearance: none;
}

.arrow.left {
  left: -5px;
}

.arrow.left:after {
  content: '\f104';
  left: -1px;
}

.arrow.right {
  right: -5px;
}

.arrow.right:after {
  content: '\f105';
  right: -1px;
}

.arrow:after {
  font-family: fontawesome;
  font-size: 20px;
  position: relative;
}

.arrow.inactive {
  opacity: 0.4;
}

.arrow:focus {
  outline: none;
}

.time-slot {
  list-style: none;
  padding: 0;
  display: flex;
  display: inline-block;
}

.time-slot-item {
  font-size: 12px;
  line-height: 22px;
  border: 1px solid #000;
  padding: 4px;
  border-radius: 6px;
  margin: 10px 9px;
  text-align: center;
  cursor: pointer;
}

.time-slot-item,
.time-slot-item.picked {
  color: #000;
  background-color: #0000;
  transition: 0.3s;
}

.time-picker-container {
  width: 100%;
  background: #FFF;
  padding: 10px 0px 0px 0px;
  margin: auto;
}

h4 {
  text-align: center;
  font-weight: 700;
}

/*ul.date-slot li:nth-child(6) {
    display: none;
}
ul.date-slot li:nth-child(7) {
    display: none;
}*/
.text-center.spmgpd {
  font-size: 14px;
  line-height: 22px;
  color: #666;
  border: 1px solid #00000000;
  border-radius: 4px;
  padding: 5px;
  margin: 10px 9px;
  text-align: center;
  cursor: pointer;
}

li.time-slot-item:focus {
  background: #2a67bc;
  border-color: #2a67bc;
  color: #000;
  transition: 0.3s;
}

.inpersonclick {
  background: #add8e680;
  border-color: #2a67bc;
  color: #2a67bc;
  transition: 0.3s;
}

.Virtualclick {
  background: #fff;
  border-color: #2a67bc;
  color: #2a67bc;
  transition: 0.3s;
}

.eitherclick {
  background: linear-gradient(0deg, rgba(42, 103, 188, 1) 50%, rgba(255, 240, 75, 1) 50%);
  background: rgb(173, 216, 230);
  background: linear-gradient(0deg, rgba(173, 216, 230, 1) 10%, rgba(255, 255, 255, 1) 86%);
  color: #000000;
  transition: 0.3s;
  /* background: #fde721; */
}

/*li.time-slot-item.inperson:hover {
    background: #add8e680;
    border-color: #2a67bc;
    color: #2a67bc;
    transition: 0.3s;
}
li.time-slot-item.Virtual:hover {
    background: #fff;
    border-color: #2a67bc;
    transition: 0.3s;
}
li.time-slot-item.either:hover {
    background: rgb(173,216,230);
background: linear-gradient(0deg, rgba(173,216,230,1) 10%, rgba(255,255,255,1) 86%);
    color: #000000;
    transition: 0.3s;
}*/
.googlemap iframe {
  height: 100vh;
  width: 100%;
}

.docter_info_vi {
  border-bottom: 1px solid #d1d1d1;
}

.card-body {
  padding: 0rem 0rem !important;
}

.pdbgc {
  padding: 0px 15px;
}

.docter_img img {
  margin: 15px 30px 30px 15px;
  width: 120px;
  border: 3px solid #2a67bc;
  border-radius: 50%;
}

.text-dark {
  color: #ffffff !important;
}

.icon_size i {
  font-size: 22px;
}

.docter_name.d-flex.justify-content-between h4 {
  text-align: inherit;
}

.video_call {
  position: absolute;
  left: 60%;
  bottom: 20%;
  background-color: #2a67bc;
  width: 45px;
  height: 45px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

i.fa-solid.fa-circle-exclamation {
  color: #2a67bc;
}

.docter_network.d-flex.mt-3 a {
  color: #2a67bc;
}

.view_all.text-right.mr-4 a {
  color: #2a67bc;
}

.pagination {
  margin: 28px 51px;
  width: 100%;
}

.video_call_al {
  position: absolute;
  top: 16%;
  right: 0%;
}

.video_call_info {
  position: relative;
  padding: 4px 25px 4px 4px;
  max-height: 27px;
  font: 13px / 20px sharp-sans-medium, fallback-font, Arial, sans-serif;
  color: rgb(0, 35, 75);
  background: rgba(195, 130, 255, 0.2);
}

span.squrdisg:after {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0px;
  right: 0px;
  content: " ";
  border-width: 14px;
  border-style: solid;
  border-color: transparent rgb(255, 255, 255) transparent transparent;
}

.docter_words.d-flex a {
  color: #000;
  font-weight: 500;
  margin-bottom: 6px;
}

ul.time-slot {
  margin-bottom: 0px;
}

a.page-link {
  font-size: 20px;
  font-weight: 500;
}

select#Virtualappiment {
  padding: 8px;
}

select#Therapist {
  padding: 8px;
}

.zipcodebox {
  padding: 5px 2px 5px 5px;
}

input.zipcodebox::placeholder {
  color: #212529;
  font-size: 17px;
  font-weight: 500;
}

select#Virtualappiment {
  font-size: 17px;
  font-weight: 500;
}

select#Therapist {
  font-size: 17px;
  font-weight: 500;
}

input.zipcodebox {
  font-size: 12px;
  border: 1px solid #2a67bc;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 4px 5px 4px 0;
  max-width: 102px;
  height: 26px;
}

input.zipcodebox::placeholder {
  font-size: 12px;
  font-weight: 400;
}

input.zipcodebox:focus-visible {
  outline: 0;
}

.zipcodeentry .btn-primary {
  color: #fff;
  background-color: #2a67bc;
  border-color: #2a67bc;
  padding: 6px 20px;
  font-size: 16px;
  height: 38px;
  display: flex;
  align-items: center;
}

.virtredio,
.eithradio,
.inperredio,
.virtredio-t,
.eithradio-t {
  display: flex;
  border: 1px solid #2a67bc;
  align-items: center;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 6px;
  height: 26px;
  width: 102px;
}

.virtredio,
.virtredio-t {
  margin-left: 0;
}

.virtredio,
.eithradio,
.inperredio,
.virtredio-t,
.eithradio-t label {
  font-size: 12px;
}

.docter_name_sn {
  width: -webkit-fill-available;
}

a.page-link {
  color: #2a67bc !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.docter_name.d-flex.justify-content-between h4:hover {
  text-decoration: underline;
}

.many_appiments.d-flex {
  gap: 40px;
}

.many_appiments label {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
}

div#pticularonedoc {
  display: none;
}

button.btn.btn-primary.view_loc_btn {
  color: #fff;
  background-color: #2a67bc;
  border-color: #2a67bc;
}

.appiment_selaction input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  width: 18px;
  height: 18px;
  margin: 0 4px 0 0;
}

.radio_btn_app,
.psych-radio {
  box-sizing: border-box;
  padding: 0;
  width: 12px !important;
  height: 12px !important;
  margin: 0 4px 0 0;
}

.no-margin {
  margin-bottom: 0 !important;
}

button.btn.btn-link.view_loc_btn {
  color: #2a67bc;
  font-weight: 500;
  padding: 0px;
}

.min-lap {
  display: none;
}

.eithradio {
  background: linear-gradient(0deg, rgba(173, 216, 230, 1) 10%, rgba(255, 255, 255, 1) 86%);
}

.inperredio {
  background: #add8e680;
}

.time-slot-item.Virtual:hover {
  background-color: #2a67bc !important;
  color: #fff !important;
}

.time-slot-item.either:hover {
  background: #2a67bc !important;
  color: #fff !important;
}

.time-slot-item.inperson:hover {
  background-color: #2a67bc !important;
  color: #fff !important;
}

/* delete this css*/
.appiment_search_bar {
  display: none;
}

.many_appiments {
  display: flex;
  gap: 35px;
}

.col-5.d-flex.align-items-center.justify-content-center.monthayr {
  display: none !important;
}

.docter_img {
  position: relative;
}

.row.mobhil_on {
  display: none;
}

.timecarousel ul.time-slot {
  width: 13.70%;
}

.timecarousel .time-slot-item {
  margin: 10px 5px;
}

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: column !important;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media only screen and (max-width: 1800px) {
  .time-slot-item {
    font-size: 13px;
    padding: 2px;
    margin: 10px 3px;
  }

  .navar .col-9.d-flex.m-auto.pl-5 {
    justify-content: center;
  }

  .many_appiments.d-flex h5 {
    font-size: 17px !important;
  }

  .timecarousel ul.time-slot {
    width: 13.60%;
  }

  .text-center.spmgpd {
    margin: 6px 9px;
  }
}

@media only screen and (max-width: 1440px) {
  .docter_name.d-flex.justify-content-between h4 {
    font-size: 24px;
  }

  .docter_img img {
    margin: 15px 14px 30px 0px;
  }

  .time-picker-container {
    padding: 10px 0px 0px 0px;
  }

  .providers_times.stikeyhd .col-7 {
    padding: 0px 5px;
  }

  .time-slot-item {
    margin: 10px 3px !important;
    font-size: 12px;
  }

  .video_call {
    left: 50%;
    bottom: 37%;
  }

  .timecarousel ul.time-slot {
    width: 13.60%;
  }

  .time-slot-item {
    padding: 1px !important;
  }

  div#all_doc {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25% !important;
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

  div#allapo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .text-center.spmgpd {
    margin: 4px 9px;
  }

  .many_appiments {
    display: flex;
    gap: 20px;
  }

  .col-1.d-flex.align-items-center.singupain {
    display: none;
    width: 0px;
    max-width: 0px;
  }
}

@media only screen and (max-width: 1300px) {
  .many_appiments {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-1.d-flex.align-items-center.singupain {
    display: none !important;
  }

  .many_appiments.d-flex {
    gap: 15px;
  }

  .min-lap {
    display: block;
  }

  /* .docter_appi_list {
    display: none;
  } */

  ul.date-slot {
    justify-content: center;
  }

  li.date-slot-wrapper:nth-child(5) {
    display: none;
  }

  li.date-slot-wrapper:nth-child(6) {
    display: none;
  }

  li.date-slot-wrapper:nth-child(7) {
    display: none;
  }

  ul.time-slot {
    width: 25%;
  }

  .docter_name.d-flex.justify-content-between h4 {
    font-size: 20px;
  }

  .docter_img img {
    width: 90px;
  }

  .docter_name.d-flex.justify-content-between h5 {
    font-size: 15px;
  }

  .docter_info_vi .col-5 {
    width: 50% !important;
    max-width: 50% !important;
    flex: 50% !important;
  }

  .docter_info_vi .col-7 {
    width: 50% !important;
    max-width: 50% !important;
    flex: 50% !important;
  }

  li.date-slot-wrapper {
    width: 25%;
  }

  .providers_times.stikeyhd .col-5 {
    width: 50% !important;
    max-width: 50% !important;
    flex: 50% !important;
  }

  .providers_times.stikeyhd .col-7 {
    width: 50% !important;
    max-width: 50% !important;
    flex: 50% !important;
  }

  .row.mobhil_on {
    display: block;
  }

  .row.locview {
    display: none;
  }

  .text-center.spmgpd {
    margin: 4px 9px;
  }

  .timecarousel ul.time-slot {
    width: 24%;
  }
}

@media only screen and (max-width: 1270px) {
  .time-slot-item {
    padding: 1px;
  }

  .time-slot-item {
    margin: 10px 3px;
  }

  .time-slot-item {
    font-size: 12px;
  }

  .time-slot-item {
    padding: 2px;
  }
}

@media (max-width: 1100px) {
  .top-navbar {
    display: block;
  }

  .right-actions {
    margin-top: 4px;
  }

  .stikeyhd {
    top: 135px;
  }
}

@media only screen and (max-width: 991px) {
  div#all_doc {
    display: none;
  }

  .docter_apoimet_time_loction .col-8 {
    width: 100% !important;
    max-width: 100% !important;
    flex: 100% !important;
  }

  .col-2.text-left.d-flex.align-items-center.sitehdlogo {
    width: 100% !important;
    max-width: 100% !important;
    flex: 100% !important;
    justify-content: center;
  }

  .col-9.d-flex.justify-content-center.m-auto.sitethreeq {
    width: 100% !important;
    max-width: 100% !important;
    flex: 100% !important;
  }

  .arrow.right {
    right: 0px;
  }

  .arrow.left {
    left: 0px;
  }
}

@media (max-width: 900px) {
  .right-actions {
    display: block;
  }

  .psych-therapist {
    margin: 0;
  }

  .stikeyhd {
    top: 253px;
  }
}

@media (max-width: 768px) {
  .appoint-profile {
    display: block;
  }

  .driving-front {
    margin: 0 auto 30px auto;
  }

  .fast-member {
    display: block;
  }

  .driving-content {
    display: block;
  }

  .patient-profile {
    width: 220px;
    margin: 0 auto;
  }

  .capture-dp {
    right: 6px;
  }

  .upload-profile {
    right: 39px;
  }

  .left-logo {
    text-align: center;
  }

  .provider-title {
    font-size: 20px;
  }

  .docter_img {
    text-align: center;
  }

  .docter_information {
    display: block;
  }

  .docter_info_vi .row {
    display: block;
  }

  .docter_info_vi .col-5,
  .docter_info_vi .col-7 {
    width: 100% !important;
    max-width: 100% !important;
    flex: 100% !important;
  }
}
@media (max-width: 600px) {
  .llo{
    padding-right: 15px;
  }
  .patient-modal .mailing-radio-btn p{
    width: 170px;
  }
  .insurance-modal .FBimage{
    flex-wrap: wrap;
    justify-content: center;
}
.insurance-modal .FBimage .front{
    margin-bottom: 30px;
}
.insurance-modal .modal-header{
    justify-content: start;
}
.insurance-modal .FBimage .front{
    width: 100%;
    height: 230px;
}
.insurance-modal .FBimage .back{
    width: 100%;
    height: 230px;
}
.insurance-modal .oll{
  padding-left: 0px;
}
.insurance-modal .llo{
  padding-right: 0px;
}
.mobilemmm{
    left: -184px!important;
}
.insurance-modal .down-form .mailing-radio-btn p{
    width: 200px;
}
.kkkook{
    width: 200px;
}
}
@media only screen and (max-width: 425px) {
  button.navbar-toggler.ml-sm-2 {
    display: none;
  }

  .many_appiments {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination {
    margin: 0px;
  }

  input.zipcodebox {
    max-width: 100%;
  }

  .choicthr.d-flex.align-items-center {
    justify-content: left;
  }

  .fild2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .providers_times.stikeyhd .col-5 {
    width: 100% !important;
    max-width: 100% !important;
    flex: 100% !important;
    text-align: center;
  }

  .providers_times.stikeyhd .col-7 {
    width: 100% !important;
    max-width: 100% !important;
    flex: 100% !important;
  }

  .docter_info_vi .col-5 {
    width: 100% !important;
    max-width: 100% !important;
    flex: 100% !important;
  }

  .docter_info_vi .col-7 {
    width: 100% !important;
    max-width: 100% !important;
    flex: 100% !important;
  }

  .text-center.spmgpd {
    margin: 6px 9px;
  }

  a.navbar-brand.pdscl {
    padding: 0px 0px;
  }

  nav.navbar.navbar-expand.navbar-dark.bg-dark {
    display: grid;
  }

  .page-link {
    padding: 8px 8px !important;
  }

  .docter_img img {
    width: 70px;
  }

  .video_call {
    position: absolute;
    left: 17%;
    bottom: 56%;
    background-color: #2a67bc;
    width: 35px;
    height: 35px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .col-5.d-flex.align-items-center.providers {
    display: none !important;
  }

  .col-5.d-flex.align-items-center.justify-content-center.monthayr {
    display: block !important;
  }

  .many_appiments {
    gap: 5px;
  }
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
}

td,
th {
  text-align: center !important;
  height: 50px;
  width: 50px;
}

.button-div .carousel-control-prev span {
  color: purple;
}

#demo1 {
  position: relative;
}

#demo1 .button-div {
  /* background-color: purple; */
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0;
  display: contents;
}

#demo {
  position: relative;
}

#demo .button-div {
  background-color: purple;
  position: absolute;
  top: -35px;
  width: 100%;
  padding: 20px;
  left: 0;
}

.month-title-year {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 9;
}

.carousel-indicators li::before {
  display: none;
}

ul.carousel-indicators {
  display: none;
}

.carousel-control-next-icon {
  filter: invert(1);
}

.carousel-control-prev-icon {
  filter: invert(1);
}

.carousel-control-next,
.carousel-control-prev {
  width: 2% !important;
}

.dblo {
  display: none;
}

/*pop css*/
.modal-header {
  display: block !important;
}

.data_of_birth {
  display: flex;
  gap: 10px;
}

.mm {
  width: 24%;
}

.yearnum {
  width: 24%;
}

.lf_ri {
  display: flex;
  justify-content: space-between;
}

.listandicon i {
  content: "\f03d";
  color: #2a67bc;
  font-size: 18px;
}

.listandicon span {
  font-size: 17px;
}

.modal-dialog {
  max-width: 450px !important;
}

button.btn.btn-primary.fix-size.mb-4.mt-4.conbook {
  background-color: #2a67bc;
}

.dp-img img {
  border: 3px solid #3192BF;
  border-radius: 50%;
}

select.select.form-outline.form-control {
  color: #000 !important;
}

input#registerName {
  color: #000 !important;
}

select.custom-select.form-outline.form-control {
  color: #000 !important;
}

#join-ac {
  max-width: 850px !important;
  margin: 1.75rem auto;
}
.insurance-modal #join-ac{
  border-radius: 8px;
  max-width: 550px!important;
}

button.btn.btn-primary.fix-size.billingbutoon.mb-4.mt-4 {
  background-color: #2a67bc;
}

div#confon-booking {
  display: block !important;
}

button.btn.btn-primary.fix-size.mb-4.mt-4 {
  background: #2a67bc;
}

button.button.btn.btn-primary.fix-size.cancel {
  background-color: #2a67bc;
}

.modal-content {
  border: 2px solid #3192BF !important;
}

div#confon-booking {
  display: flex !important;
  align-content: center;
}

.btn.btn-primary .inpop:hover {
  padding: 5px 32px !important;
  background-color: #fff !important;
  color: #2a67bc !important;
}

.btn.btn-primary .inpop:hover {
  padding: 5px 32px !important;
  background-color: #2a67bc !important;
  color: #fff !important;
}

button.btn.btn-primary.fix-size.billingbutoon.mb-4.mt-4:hover {
  background-color: #fff !important;
  color: #2a67bc !important;
  border: 2px solid #2a67bc;
}

button.btn.btn-primary.fix-size.billingbutoon.mb-4.mt-4 {
  border: 2px solid #2a67bc;
  font-weight: 500;
  color: #fff !important;
}

a.btn.btn-primary.fix-size.mb-4.mt-4 {
  background-color: #2a67bc !important;
  color: #fff !important;
  border: 2px solid #2a67bc;
}

.btn.btn-primary.fix-size.mb-4.mt-4 {
  border: 2px solid #2a67bc;
  font-weight: 500;
  color: #fff !important;
}

.btn.btn-primary.fix-size.mb-4.mt-4:hover {
  background-color: #fff !important;
  color: #2a67bc !important;
  border: 2px solid #2a67bc;
}

button.btn.btn-primary.inpop:hover {
  background-color: #fff !important;
  color: #2a67bc !important;
  border: 1px solid #2a67bc;
}

button.btn.btn-primary.inpop {
  height: 26px;
  margin: 4px 0 4px 5px;
  width: 75px;
  justify-content: center;
  font-size: 14px;
}

.form-control {
  border-color: #2a67bc !important;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(calc(2.25rem + 2px) - 1px * 2);
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  content: "\f030" !important;
  background-color: #e9ecef;
  border-left: 1px solid #ced4da;
  border-radius: 0 .25rem .25rem 0;
  font-family: 'FontAwesome';
}

.custom-file {
  max-width: 75%;
}

.add_file.d-flex {
  gap: 25px;
}

.primary-insurance {
  display: none;
}

.primary_insurance_holder {
  display: none;
}

.primary-insurance-sec {
  display: none;
}

.sec_primary_insurance_holder {
  display: none;
}

.primary-insurance-thard {
  display: none;
}

.thard_primary_insurance_holder {
  display: none;
}

.plan_group_id_date {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 2px solid #2a67bc;
}

span.redstar {
  color: red;
}

.city_state_zip {
  display: flex;
  gap: 10px;
}

.form-label.mt-2 {
  font-size: 22px;
}

.col.aleq {
  margin-top: 6%;
}

.plachold {
  margin-bottom: 7px;
}

input.form-check-input {
  height: 15px;
  width: 15px;
}

.lf_ri.ml-3.mb-1 i {
  color: #2a67bc;
}

.form-control {
  color: #000 !important;
}

/*.primary-insurance {
    overflow-y: scroll;
    height: 600px;
    border: 2px solid #2a67bc;
    padding: 10px;
}*/
input[type=file]::file-selector-button {
  background: #2a67bc;
  color: #fff;
  border: 2px solid #2a67bc;
}

.add_file {
  display: flex;
  gap: 10px;
}

